{% extends 'base.html.twig' %}

{% block title %}Calendrier des réservation
{% endblock %}

{% block body %}
	
	<div id="calendar"></div>
{% endblock %}


{% block javascripts %}
	{{ parent() }}
	<script type='importmap'>
		{
				"imports": {
					"@fullcalendar/core": "https://cdn.skypack.dev/@fullcalendar/core@6.1.4",
					"@fullcalendar/daygrid": "https://cdn.skypack.dev/@fullcalendar/daygrid@6.1.4",
					"@fullcalendar/timegrid": "https://cdn.skypack.dev/@fullcalendar/timegrid@6.1.4",
					"@fullcalendar/core/locales/fr": "https://cdn.skypack.dev/@fullcalendar/core/locales/fr",
					"@fullcalendar/interaction": "https://cdn.skypack.dev/@fullcalendar/interaction"
				}
				}
	</script>
	<script type='module'>
		import {Calendar} from '@fullcalendar/core'
import dayGridPlugin from '@fullcalendar/daygrid'
import timeGridPlugin from '@fullcalendar/timegrid'
import frLocale from '@fullcalendar/core/locales/fr'
import interactionPlugin from '@fullcalendar/interaction';


document.addEventListener('DOMContentLoaded', function () {
const calendarEl = document.getElementById('calendar')
const calendar = new Calendar(calendarEl, {
plugins: [
timeGridPlugin, dayGridPlugin, interactionPlugin
],
initialView: 'timeGridWeek',
locales: [frLocale],
locale: 'frlocale',
timeZone: 'Europe/Paris',
headerToolbar: {
left: 'prev,next today',
center: 'title',
right: 'dayGridMonth,timeGridWeek'

},
buttonText: {
today: 'Aujourd\'hui',
month: 'Mois',
week: 'Semaine'
},

events: {{ data | raw }},
{
});
calendar.render();
});
	</script>


{% endblock %}
