body {
    background-color: var(--templates-color);
    color: var(--text-color);
}

.logo {
    width: 40%;
    height: 40%;
    margin-right: -340px;
}

button.navbar-toggler span{
    background-color: var(--text-color);
    color: var(--text-color);
    border: 3px solid var(--text-color);
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
}

section {
    background-color: var(--templates-color);
    color: var(--text-color);
    font-family: Roboto Condensed , sans-serif;
}




    
  

 



