.table th {
    background-color: var(--template-color);
    color: var(--text-color);
}

thead tr th{
    background-color: var(--template-color);
    color: var(--text-color);
}

tbody tr td{
    background-color: var(--template-color);
    color: var(--text-color);
}