{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-12">
			{% for categorie in categories %}
						{% if categorie.slug == "Boissons" %}
							<img src={{ categorie.imageUrl }} alt="{{ categorie.name }}"/>
						{% endif %}
					{% endfor %}
					<h1 class="text-center mt-10">Nos boissons :
					</h1></div>
					{% for boisson in boissons %}
						 <div class="col-6 mb-3">
                  <section class="container">
							<div class="row align-items-center">
								<div class="col">
									<h5 class="text-center mt-2 mb-0">{{ boisson.name }}</h5>
								</div>
								<div class="col flex-grow-8">
									
									<h4 class="text-center mt-2 mb-0">Prix : {{ boisson.price }}€</h4>
								</div>
							</div>
                    </section>
                </div>
	{% endfor %}
	
</div><div>

{% endblock %}
