{% extends "base.html.twig" %}


{% block title %}Le chemin Fermier | La carte
{% endblock %}

{% block body %}
	<article class="container-fluid text-center">
		<div class="row justify-content-center">
			<div class="col-md-6 col-sm-2">
				<h1 class="text-center mb-5">La carte</h1>

				<section class="container" id="carte">
					<div>
						<h1>Carte du restaurant Le chemin Fermier</h1>
					</div>
					<div>
						<p>Notre menu gastro</p>
					</div>
				</div>


				<p class="entree">

					{% include "entree/index.html.twig" %}
				</p>
				<p class="plat">

					{% include "plat/index.html.twig" %}

				</p>


				<p class="dessert">

					{% include "dessert/index.html.twig" %}


				</p>
				<p class="boisson col-4">

					{% include "drink/index.html.twig" %}
				</p>
        	<p class="vin">

					{% include "wine/index.html.twig" %}
				</p>
				<div></div>
			</section>

		</div>
	</div>
</article>
{% endblock %}

